wsdl/sfa.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://www.planet-lab.org/geniwrapper/2009/07/sfa.wsdl' xmlns:soapenc='http://schemas.xmlsoap.org/wsdl/soap/encoding' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:xsdl='http://www.planet-lab.org/geniwrapper/2009/07/schema' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' name='geniwrapper_autogenerated' targetNamespace='http://www.planet-lab.org/geniwrapper/2009/07/sfa.wsdl'>
  <message name='create_gid_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
    <part type='xsdl:Type1' name='uuid'/>
    <part type='xsd:string' name='pubkey_str'/>
  </message>
  <message name='create_gid_out'>
    <part type='xsd:string' name='returnvalue'/>
  </message>
  <portType name='create_gid_port'>
    <operation name='create_gid'>
      <input message='tns:create_gid_in' name='create_gid_request'/>
      <output message='tns:create_gid_out' name='create_gid_response'/>
    </operation>
  </portType>
  <binding type='tns:create_gid_port' name='create_gid_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='create_gid'>
      <soap:operation soapAction='urn:create_gid'/>
      <input>
        <soap:body use='encoded' namespace='urn:create_gid' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:create_gid' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='create_slice_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
    <part type='xsd:string' name='rspec'/>
  </message>
  <message name='create_slice_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='create_slice_port'>
    <operation name='create_slice'>
      <input message='tns:create_slice_in' name='create_slice_request'/>
      <output message='tns:create_slice_out' name='create_slice_response'/>
    </operation>
  </portType>
  <binding type='tns:create_slice_port' name='create_slice_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='create_slice'>
      <soap:operation soapAction='urn:create_slice'/>
      <input>
        <soap:body use='encoded' namespace='urn:create_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:create_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='delete_slice_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='delete_slice_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='delete_slice_port'>
    <operation name='delete_slice'>
      <input message='tns:delete_slice_in' name='delete_slice_request'/>
      <output message='tns:delete_slice_out' name='delete_slice_response'/>
    </operation>
  </portType>
  <binding type='tns:delete_slice_port' name='delete_slice_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='delete_slice'>
      <soap:operation soapAction='urn:delete_slice'/>
      <input>
        <soap:body use='encoded' namespace='urn:delete_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:delete_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='get_credential_in'>
    <part type='xsdl:Type2' name='cred'/>
    <part type='xsd:string' name='type'/>
  </message>
  <message name='get_credential_out'>
    <part type='xsd:string' name='returnvalue'/>
  </message>
  <portType name='get_credential_port'>
    <operation name='get_credential'>
      <input message='tns:get_credential_in' name='get_credential_request'/>
      <output message='tns:get_credential_out' name='get_credential_response'/>
    </operation>
  </portType>
  <binding type='tns:get_credential_port' name='get_credential_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='get_credential'>
      <soap:operation soapAction='urn:get_credential'/>
      <input>
        <soap:body use='encoded' namespace='urn:get_credential' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:get_credential' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='get_resources_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsdl:Type3' name='hrn'/>
  </message>
  <message name='get_resources_out'>
    <part type='xsd:string' name='returnvalue'/>
  </message>
  <portType name='get_resources_port'>
    <operation name='get_resources'>
      <input message='tns:get_resources_in' name='get_resources_request'/>
      <output message='tns:get_resources_out' name='get_resources_response'/>
    </operation>
  </portType>
  <binding type='tns:get_resources_port' name='get_resources_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='get_resources'>
      <soap:operation soapAction='urn:get_resources'/>
      <input>
        <soap:body use='encoded' namespace='urn:get_resources' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:get_resources' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='get_slices_in'>
    <part type='xsd:string' name='cred'/>
  </message>
  <message name='get_slices_out'>
    <part type='xsdl:Type4' name='returnvalue'/>
  </message>
  <portType name='get_slices_port'>
    <operation name='get_slices'>
      <input message='tns:get_slices_in' name='get_slices_request'/>
      <output message='tns:get_slices_out' name='get_slices_response'/>
    </operation>
  </portType>
  <binding type='tns:get_slices_port' name='get_slices_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='get_slices'>
      <soap:operation soapAction='urn:get_slices'/>
      <input>
        <soap:body use='encoded' namespace='urn:get_slices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:get_slices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='get_ticket_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
    <part type='xsd:string' name='rspec'/>
  </message>
  <message name='get_ticket_out'>
    <part type='xsd:string' name='returnvalue'/>
  </message>
  <portType name='get_ticket_port'>
    <operation name='get_ticket'>
      <input message='tns:get_ticket_in' name='get_ticket_request'/>
      <output message='tns:get_ticket_out' name='get_ticket_response'/>
    </operation>
  </portType>
  <binding type='tns:get_ticket_port' name='get_ticket_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='get_ticket'>
      <soap:operation soapAction='urn:get_ticket'/>
      <input>
        <soap:body use='encoded' namespace='urn:get_ticket' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:get_ticket' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='list_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='list_out'>
    <part type='xsdl:Type6' name='returnvalue'/>
  </message>
  <portType name='list_port'>
    <operation name='list'>
      <input message='tns:list_in' name='list_request'/>
      <output message='tns:list_out' name='list_response'/>
    </operation>
  </portType>
  <binding type='tns:list_port' name='list_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='list'>
      <soap:operation soapAction='urn:list'/>
      <input>
        <soap:body use='encoded' namespace='urn:list' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:list' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='register_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:anyType' name='record_dict'/>
  </message>
  <message name='register_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='register_port'>
    <operation name='register'>
      <input message='tns:register_in' name='register_request'/>
      <output message='tns:register_out' name='register_response'/>
    </operation>
  </portType>
  <binding type='tns:register_port' name='register_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='register'>
      <soap:operation soapAction='urn:register'/>
      <input>
        <soap:body use='encoded' namespace='urn:register' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:register' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='remove_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='type'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='remove_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='remove_port'>
    <operation name='remove'>
      <input message='tns:remove_in' name='remove_request'/>
      <output message='tns:remove_out' name='remove_response'/>
    </operation>
  </portType>
  <binding type='tns:remove_port' name='remove_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='remove'>
      <soap:operation soapAction='urn:remove'/>
      <input>
        <soap:body use='encoded' namespace='urn:remove' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:remove' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='reset_slices_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='reset_slices_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='reset_slices_port'>
    <operation name='reset_slices'>
      <input message='tns:reset_slices_in' name='reset_slices_request'/>
      <output message='tns:reset_slices_out' name='reset_slices_response'/>
    </operation>
  </portType>
  <binding type='tns:reset_slices_port' name='reset_slices_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='reset_slices'>
      <soap:operation soapAction='urn:reset_slices'/>
      <input>
        <soap:body use='encoded' namespace='urn:reset_slices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:reset_slices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='resolve_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='resolve_out'>
    <part type='xsdl:Type8' name='returnvalue'/>
  </message>
  <portType name='resolve_port'>
    <operation name='resolve'>
      <input message='tns:resolve_in' name='resolve_request'/>
      <output message='tns:resolve_out' name='resolve_response'/>
    </operation>
  </portType>
  <binding type='tns:resolve_port' name='resolve_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='resolve'>
      <soap:operation soapAction='urn:resolve'/>
      <input>
        <soap:body use='encoded' namespace='urn:resolve' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:resolve' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='start_slice_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='start_slice_out'>
    <part type='xsdl:Type9' name='returnvalue'/>
  </message>
  <portType name='start_slice_port'>
    <operation name='start_slice'>
      <input message='tns:start_slice_in' name='start_slice_request'/>
      <output message='tns:start_slice_out' name='start_slice_response'/>
    </operation>
  </portType>
  <binding type='tns:start_slice_port' name='start_slice_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='start_slice'>
      <soap:operation soapAction='urn:start_slice'/>
      <input>
        <soap:body use='encoded' namespace='urn:start_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:start_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='stop_slice_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:string' name='hrn'/>
  </message>
  <message name='stop_slice_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='stop_slice_port'>
    <operation name='stop_slice'>
      <input message='tns:stop_slice_in' name='stop_slice_request'/>
      <output message='tns:stop_slice_out' name='stop_slice_response'/>
    </operation>
  </portType>
  <binding type='tns:stop_slice_port' name='stop_slice_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='stop_slice'>
      <soap:operation soapAction='urn:stop_slice'/>
      <input>
        <soap:body use='encoded' namespace='urn:stop_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:stop_slice' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <message name='update_in'>
    <part type='xsd:string' name='cred'/>
    <part type='xsd:anyType' name='record_dict'/>
  </message>
  <message name='update_out'>
    <part type='xsd:int' name='returnvalue'/>
  </message>
  <portType name='update_port'>
    <operation name='update'>
      <input message='tns:update_in' name='update_request'/>
      <output message='tns:update_out' name='update_response'/>
    </operation>
  </portType>
  <binding type='tns:update_port' name='update_binding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='update'>
      <soap:operation soapAction='urn:update'/>
      <input>
        <soap:body use='encoded' namespace='urn:update' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output>
        <soap:body use='encoded' namespace='urn:update' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <types>
    <xsd:schema xmlns='http://www.w3.org/2001/XMLSchema' targetNamespace='http://www.planet-lab.org/geniwrapper/2009/07/schema'>
      <xsd:complexType name='Type1'>
        <xsd:choice>
          <element type='xsd:string' name='Unique identifier for new GID (uuid)' minOccurs='0'/>
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name='Type2'>
        <xsd:choice>
          <element type='xsd:string' name='credential' minOccurs='0'/>
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name='Type3'>
        <xsd:choice>
          <element type='xsd:string' name='Human readable name (hrn)' minOccurs='0'/>
        </xsd:choice>
      </xsd:complexType>
      <xsd:simpleType name='Type4'>
        <xsd:list itemType='xsd:string'/>
      </xsd:simpleType>
      <xsd:complexType name='Type5'>
        <xsd:sequence>
          <xsd:element type='xsd:string' name='gid'/>
          <xsd:element type='xsd:string' name='hrn'/>
          <xsd:element type='xsd:string' name='type'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name='Type6'>
        <xsd:list itemType='xsdl:Type5'/>
      </xsd:simpleType>
      <xsd:complexType name='Type7'>
        <xsd:sequence>
          <xsd:element type='xsd:string' name='gid'/>
          <xsd:element type='xsd:string' name='hrn'/>
          <xsd:element type='xsd:string' name='type'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name='Type8'>
        <xsd:list itemType='xsdl:Type7'/>
      </xsd:simpleType>
      <xsd:simpleType name='Type9'>
        <xsd:list itemType='xsd:int'/>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <service name='registry'>
    <port binding='tns:create_gid_binding' name='create_gid_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:get_credential_binding' name='get_credential_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:get_ticket_binding' name='get_ticket_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:list_binding' name='list_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:register_binding' name='register_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:remove_binding' name='remove_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:resolve_binding' name='resolve_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
    <port binding='tns:update_binding' name='update_port'>
      <soap:address location='http://www.planet-lab.org/geniwrapper/registry'/>
    </port>
  </service>
</wsdl:definitions>
